<template>
  <v-skeleton-loader
    :loading="loading"
    class="ors-invoice"
    type="list-item-two-line@3"
  >
    <slot
      v-if="invoice"
      :invoice="invoice"
    />
    <v-alert
      v-else
      type="error"
    >
      Erro ao carregar Nota
    </v-alert>
  </v-skeleton-loader>
</template>

<script>
export default {
  props: {
    loader: {
      type: Function,
      required: true,
    },
  },
  data: () => ({
    loading: true,
    invoice: null,
  }),
  watch: {
    loader: {
      handler(loader) {
        this.invoice = loader();
        this.loading = false;
        this.$emit('loaded', this.invoice);
      },
      immediate: true,
    },
  },
};
</script>
