<template>
  <v-tooltip
    ref="nftp"
    top
    :value="value"
    class="nftp"
    content-class="nftp-tp elevation-4"
    max-width="220"
    transition="slide-y-reverse-transition"
  >
    <template #activator="{ on }">
      <v-btn
        ref="activator"
        x-small
        text
        class="nftp-action"
        :href="linkNfse"
        target="_blank"
        @mouseenter="$emit('input', true)"
      >
        NFSe
      </v-btn>
    </template>
    <template v-if="numCgc === 8491597000800">
      <p>Acesse o link e digite os campos abaixo:</p>
      <a
        :href="'linkNfse'"
        target="_blank"
      >Clique Aqui para Entrar</a>
      <p class="mb-1">
        Marque Acesso Público
      </p>
      <p class="mb-1">
        Nota Eletrônica
      </p>
      <p class="mb-1">
        Verificar RPS
      </p>
      <p class="mb-1">
        <span class="primary--text">CPF/CNPJ Prestador:</span>
        <code>8491597000800</code><br>
        <span class="primary--text">CPF/CNPJ Tomador:</span>
        <code>5314952000120</code><br>
        <span class="primary--text">Número do RPS:</span>
        <code>3023</code>
        <span class="primary--text">Série do RPS:</span>
        <code>1</code>
      </p>
      <p class="mb-1">
        Informe o código que aparece na imagem. “Pesquisar” <br>
        Na sequência, clique Imprimir.
        <a
          v-if="linkNfvDownload"
          target="_blank"
          @click="$emit('linkNfvDownloadClick', linkNfvDownload)"
        >
          <img
            style="width: 30px; height: 30px"
            src="@/assets/downloadPDF.png"
          >
        </a>
      </p>
    </template>
    <template v-else-if="codEmp === '21' && codFil === '2' ">
      <p>Acesse o link e digite os campos abaixo:</p>
      <a
        :href="'linkNfse'"
        target="_blank"
      >Acessar</a>
      <p class="mb-1">
        Forma de Validação:
        <code>Normal</code><br>
        <span class="primary--text">Insc. Mun. Emissor:</span>
        <code>3463800</code><br>
        <span class="primary--text">Série do Doc. Fiscal:</span>
        <code>NFS-e Nota Eletrônica de Serviços</code><br>
        <span class="primary--text">Número do Doc. Fiscal:</span>
        <code>{{ numDfs }}</code><br>
        <span class="primary--text">Chave de Identificação:</span>
        <code>{{ codver }}</code>
      </p>
      <p class="mb-1">
        Informe o código que aparece na imagem, depois clique em “Verificar Autenticação”
        e na sequência, clique em Visualizar a Nota Fiscal Eletrônica <br>
        {{ linkNfvDownload }}
      </p>
    </template>
    <template v-else-if="codEmp === '27' || codEmp === '28' || codEmp === '29' ">
      <p class="primary--text">
        Para ter acesso a nota fiscal e confirmar
        a autenticidade do documento fiscal,
        siga as orientações abaixo:
      </p>
      <p class="mb-1">
        No lado direito do site <a
          :href="'linkNfse'"
          target="_blank"
        >Acessar</a>
      </p><p class="mb-1">
        selecione a opção <span class="primary--text">Autenticidade NFS-e</span>
      </p>
      <p class="mb-1">
        Preencha os seguintes campos:
      </p>
      <p class="mb-1">
        <span class="primary--text">Nº. da NFS-e:</span>
        <code>{{ numDfs }}</code><br>
        <span class="primary--text">CPF/CNPJ do emissor:</span>
        <code>{{ numCgc }}</code><br>
        <span class="primary--text">Código Verificador:</span>
        <code>{{ codver }}</code><br>
      </p>
      <p class="mb-1">
        Clicar em Validar e por fim Download em PDF<br>
        {{ linkNfvDownload }}
      </p>
    </template>
    <template v-else>
      <p class="primary--text">
        Para ter acesso a nota fiscal e confirmar
        a autenticidade do documento fiscal,
        siga as orientações abaixo:
      </p>
      <p>
        <span class="primary--text">No lado direito do site: </span>
        <a
          :href="linkNfse"
          target="_blank"
        >Acessar</a>
      </p>
      <p>
        selecione a opção Autenticidade NFS-e <br>
        Preencha os seguintes campos:
      </p>
      <p class="mb-1">
        <span class="primary--text">Nº. da NFS-e: </span>
        <code>{{ numDfs }}</code>
      </p>
      <p class="mb-1">
        <span class="primary--text">Código Verificador: </span>
        <code>{{ codver }}</code>
      </p>
      <p class="mb-1">
        <span class="primary--text">CPF/CNPJ Prestador:  </span>
        <code>08491597000126</code>
      </p>
      <p class="mb-1">
        Clicar em Validar e por fim Download PDF<br>
        <a
          v-if="linkNfvDownload"
          target="_blank"
          @click="$emit('linkNfvDownloadClick', linkNfvDownload)"
        >
          <img
            style="width: 30px; height: 30px"
            src="@/assets/downloadPDF.png"
          >
        </a>
      </p>
    </template>
  </v-tooltip>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },
    numCgc: {
      type: String,
      default: null,
    },
    linkNfse: {
      type: String,
      required: true,
    },
    codEmp: {
      type: String,
      default: null,
    },
    codFil: {
      type: String,
      default: null,
    },
    numDfs: {
      type: Number,
      required: true,
    },
    codver: {
      type: String,
      default: null,
    },
    linkNfvDownload: {
      type: String,
      default: null,
    },
  },
  data: () => ({
    mouseoverListener: null,
  }),
  watch: {
    // eslint-disable-next-line no-unused-vars
    value(val) {
      if (val) {
        this.mouseoverListener = this.onWindowMouseover.bind(this);
        window.addEventListener('mouseover', this.mouseoverListener);
      } else {
        window.removeEventListener('mouseover', this.mouseoverListener);
        this.mouseoverListener = null;
      }
    },
  },
  methods: {
    onWindowMouseover(event) {
      const { parentNode } = event.target;
      if (parentNode && parentNode.classList && parentNode.classList.contains('nftp-action')) {
        // ignore if parentNode is the activator button
        return;
      }
      if (parentNode && parentNode.contains(this.$refs.activator.$el)) {
        // ignore if parentNode has the activator button
        return;
      }
      if (this.$refs.nftp.$refs.content.contains(event.target)) {
        // ignore if move was inside tooltip children
        return;
      }
      this.$emit('input', false);
    },
  },
};
</script>

<style scoped>
@import '~@/style/variables.css';
code {
  color: var(--primary-color-1);
  box-shadow: none;
  font-size: 1.05em;
  font-weight: normal;
}

.nftp-action {
  color: var(--dash-color-3);
}
.nftp-tp {
  padding: 8px;
  pointer-events: auto;
  font-size: 10px;
  line-height: 1.2;
  color: var(--primary-color-1);
  background: var(--primary-color-2);
  border: 1px solid var(--dash-color-1);
  border-radius: 10px;
}

.nftp-tp:after, .nftp-tp:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.nftp-tp:after {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: var(--primary-color-2);
  border-width: 4px;
  margin-left: -4px;
}
.nftp-tp:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: var(--dash-color-1);
  border-width: 6px;
  margin-left: -6px;
}

.nftp-tp p {
  font-size: inherit;
}

.nftp-tp a {
  text-decoration: none;
}
</style>
